<div class="dialog-container">
  <div class="dialog-actions">
    <button (click)="onNoClick()" mat-mini-fab aria-label="close dialog">
      <mat-icon>close</mat-icon>
    </button>
  </div>

  <mat-form-field>
    <mat-label>Title</mat-label>
    <input matInput />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Status</mat-label>
    <mat-select>
      <mat-option value="one">First option</mat-option>
      <mat-option value="two">Second option</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Priority</mat-label>
    <mat-select>
      <mat-option value="one">First option</mat-option>
      <mat-option value="two">Second option</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Tags</mat-label>
    <mat-select multiple>
      <mat-option value="one">First option</mat-option>
      <mat-option value="two">Second option</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Start Date</mat-label>
    <input matInput [matDatepicker]="stdatepicker" />
    <mat-datepicker #stdatepicker />
    <mat-datepicker-toggle [for]="stdatepicker" matSuffix />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Start Time</mat-label>
    <input matInput [matTimepicker]="sttimepicker" />
    <mat-timepicker #sttimepicker />
    <mat-timepicker-toggle [for]="sttimepicker" matSuffix />
  </mat-form-field>
  <mat-form-field>
    <mat-label>End Date</mat-label>
    <input matInput [matDatepicker]="etdatepicker" />
    <mat-datepicker #etdatepicker />
    <mat-datepicker-toggle [for]="etdatepicker" matSuffix />
  </mat-form-field>
  <mat-form-field>
    <mat-label>End Time</mat-label>
    <input matInput [matTimepicker]="ettimepicker" />
    <mat-timepicker #ettimepicker />
    <mat-timepicker-toggle [for]="ettimepicker" matSuffix />
  </mat-form-field>
  <div class="dialog-actions">
    <button class="dialog-action-button" mat-fab extended>
      <mat-icon>clear</mat-icon>
      Clear
    </button>
    <button class="dialog-action-button" mat-fab extended>
      <mat-icon>search</mat-icon>
      Search
    </button>
  </div>
</div>
